[Unit]
Description=Luna PED Client
After=network.target nss-lookup.target

[Service]
ExecStart=pedClient -logfilename /var/log/luna/remotePedClientLog.log -m start
ExecStop=pedClient -logfilename /var/log/luna/remotePedClientLog.log -m stop
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target
